# General
.DS_Store

# App (Node/Vite)
app/node_modules
app/pnpm-lock.yaml
app/.yarn/
app/yarn.lock
app/package-lock.json
app/.dist
app/.vite
app/dist

# Tauri/Rust
app/src-tauri/target
app/src-tauri/.cargo
app/src-tauri/gen

# Logs
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*.DS_Store
